.report-title::before {
  content: 'i';

  color: rgba(26, 26, 241, 0.918);
  width: 7px;
  height: 15px;
  background-color: rgba(38, 38, 245, 0.918);
  margin-right: 10px;
  border-radius: 3px;
  font-size: 35px;
  padding-left: -2px;
  margin-top: 10px; 


}
.he{
  font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    line-height: 100%;
    letter-spacing: 0%;
}


.reporter-mainbody {

  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  color: black;
}


.reporter-tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  /* width: 100%; */
  height: 50px;
  background-color: #E1E1E1;
  margin-left: 50px;
  color: #A1A1A1;
  text-align: center;
}

.report-trtwo {

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  height: 50px;
  background-color: #E1E1E1;
  margin-left: 50px;
  color: #A1A1A1;

  margin-top: 20px;
  text-align: center;

}

.reporter-btn {
  margin-left: 1270px;
  margin-top: 400px;
}

.reporter-btn:hover {
  background-color: blue;
  color: white;
}